*{
	margin:0;
	padding:0;
}

#header {
	background-color: #005bbb;
	color: white;
	display: flex;
	align-items:center;
	justify-content: center;

}


#logo{
	justify-content:center;
	align-content:center;
	flex: 1;
}

#logo > img {
	width: 100%;
	height: auto;
	max-width: 500px;
	
}

#header-title{
	text-align:center;
	flex:1;
	color: white;
}


.tabcontent{
	border: 1px solid red;
}

h1 { 
	font-family: Arial;
}
	
body  { background-color: white;}
h2    { color: black; font-family: sans-serif;}
