<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>UB Smart Park</title>
      <link rel="stylesheet" href="static/styles.css">
   </head>  

   <body>
      <h1>UB Smart Park</h1>
      <p>North Campus</p>
      <img src="static/North_Campus.jpg" alt="UB North Campus Map" height="323" width="610" usemap="#parkmap"/>

      <map name="parkmap">
         <area shape="rect" coords="48,20,74,47" alt="Governors E" href="govs_e.htm" color=red>
         <area shape="rect" coords="108,20,135,46" alt="Governors D" href="govs_d.htm">
         <area shape="rect" coords="144,21,169,48" alt="Governors C" href="govs_c.htm">
         <area shape="rect" coords="197,21,230,48" alt="Jarvis A" href="jarvis_a.htm">
         <area shape="rect" coords="238,21,267,45" alt="Jarvis B" href="jarvis_b.htm">
         <area shape="rect" coords="94,93,134,112" alt="Fronczak A" href="fronczak_a.htm">
         <area shape="rect" coords="93,66,134,86" alt="Governors B" href="govs_b.htm">
         <area shape="rect" coords="144,69,168,84" alt="Governors A" href="govs_a.htm">
         <area shape="rect" coords="143,88,160,110" alt="Fronczak B" href="fronczak_b.htm">
         <area shape="rect" coords="199,71,207,95" alt="Ketter" href="ketter.htm">
         <area shape="rect" coords="262,65,276,103" alt="Furnas" href="furnas.htm">
         <area shape="rect" coords="291,53,306,84" alt="Bookstore" href="bookstore.htm">
         <area shape="rect" coords="75,185,97,195" alt="Cooke A" href="cooke_a.htm">
         <area shape="rect" coords="75,203,98,230" alt="Cooke B" href="cooke_b.htm">
         <area shape="rect" coords="116,195,138,234" alt="Hochstetter A" href="hoch_a.htm">
         <area shape="rect" coords="148,196,176,234" alt="Hochstetter B" href="hoch_b.htm">
         <area shape="rect" coords="201,178,214,195" alt="Park" href="park.htm">
         <area shape="rect" coords="209,213,232,235" alt="Jacobs A" href="jacobs_a.htm">
         <area shape="rect" coords="239,214,260,235" alt="Jacobs B" href="jacobs_b.htm">
         <area shape="rect" coords="268,213,288,234" alt="Jacobs C" href="jacobs_c.htm">
         <area shape="rect" coords="301,215,324,234" alt="Baird A" href="baird_a.htm">
         <area shape="rect" coords="302,250,341,263" alt="Special Event" href="special.htm">
         <area shape="rect" coords="333,214,369,235" alt="Slee A" href="slee_a.htm">
         <area shape="rect" coords="333,185,356,200" alt="Slee B" href="slee_b.htm">
         <area shape="rect" coords="305,184,323,202" alt="Baird B" href="baird_b.htm">
         <area shape="rect" coords="424,248,475,258" alt="Stadium" href="stadium.htm">
         <area shape="rect" coords="393,116,428,130" alt="Lake Lasalle" href="lasalle.htm">
         <area shape="rect" coords="442,122,462,165" alt="Arena" href="arena.htm">
         <area shape="rect" coords="433,100,450,115" alt="Alumni C" href="alumni_c.htm">
         <area shape="rect" coords="458,102,501,112" alt="Alumni B" href="alumni_b.htm">
      </map> 

   </body>
</html>